body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
    margin: 20px auto;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #444;
}

#result {
    font-size: 20px;
    color: #333;
    margin: 20px;
}
