body {
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #f6f8f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the button */
}

input[type="date"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.result {
    text-align: center;
    font-family: 'Helvetica', Arial, sans-serif;
    color: #333;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}
