body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 55vh;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555555;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.result {
    font-size: 18px;
    border-top: 1px solid #555555;
    min-height: 10vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .calculator {
        min-width: 70vw;
    }
}

@media (max-width: 480px) {
    .calculator {
        min-width: 90vw;
    }
}
