body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.container {
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: right;
}
h1 {
    color: #333;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}
input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
input[type="button"] {
    width: 100%;
    padding: 5px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}
input[type="button"]:hover {
    background-color: #0056b3;
}
#result {
    margin-top: 15px;
    font-weight: bold;
}
