body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    width: 500px;
    margin: 100px auto;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: 10px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 20px;
    margin: 10px 0;
}