body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #282a36;
  color: #f8f8f2;
}

.converter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.select-container {
  position: relative;
}

select {
  padding: 10px;
  margin-right: -5px;
  border: none;
  border-radius: 15px 0 0 15px;
  outline: none;
  background-color: #44475a;
  color: #f8f8f2;
  width: 70px;
  -webkit-appearance: none;
}

.select-symbol {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #f8f8f2;
}

.input-field {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 0 15px 15px 0;
  outline: none;
  background-color: #44475a;
  color: #f8f8f2;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #bd93f9;
  color: #f8f8f2;
  border: none;
  border-radius: 15px;
}

button:hover {
  background-color: #6272a4;
}
